/*Body*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, i, p {
  font-family: "Roboto Condensed", sans-serif;
}

.colorfondo {
  background-color: #f6f9f9;
}

main {
  background-color: #f6f9f9;
}

/*Index*/
.portada {
  display: flex;
  background-color: #f6f9f9;
  margin-top: 16px;
  margin-bottom: 16px;
}
.portada__imagen {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 0px;
}
.portada__imagen__img {
  width: 500px;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.portada__texto {
  border-radius: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: -20px;
  padding: 16px;
  background-color: #e7e7db;
}
.portada__texto__registro {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*Footer*/
.footer {
  background-color: rgb(204, 204, 204);
}
.footer__paragraph {
  padding: 24px;
  font-size: 18px;
}
.footer__redes {
  display: flex;
  justify-content: center;
}
.footer__redeslogo {
  padding: 16px;
}
.footer__fallow {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

i {
  font-size: 32px;
  margin: 5px;
  color: black;
}

.tituloConciertomaster {
  margin-top: 24px;
  margin-bottom: 16px;
}

.concert {
  border-radius: 20px;
  margin: 32px;
  background-color: #e7e7db;
}
.concert__titulo {
  margin: 16px;
}
.concert__portada {
  margin-left: 16px;
  margin-right: 16px;
  border-color: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
.concert__portada__img {
  width: 200px;
  height: 200px;
}
.concert__portada:hover {
  transform: scale(1.2, 1.2);
}

/*Recursos adicionales tabla*/
.tituloRecursos {
  margin-left: 16px;
  margin-top: 16px;
}

.Tablarecursos {
  display: flex;
  justify-content: center;
  padding: 16px;
}
.Tablarecursos__th {
  border: 1px solid black;
  text-align: center;
}
.Tablarecursos__filas {
  border: 1px solid black;
  text-align: center;
}
.Tablarecursos__filas:hover {
  background-color: #d8c7b9;
}

/*conciertouno*/
.tituloconcierto {
  text-align: center;
  margin-top: 24px;
}

.contenedorvideo {
  display: flex;
  margin-top: 16;
  margin-left: 16px;
  background-color: #f6f9f9;
}
.contenedorvideo__rep {
  flex: 75%;
}
.contenedorvideo__rep__divvideo {
  border-top: 1px #55859e solid;
  padding: 24px;
}
.contenedorvideo__lista {
  width: 50%;
  height: 350px;
  float: left;
  overflow: auto;
  border-left: 1px #55859e solid;
  border-radius: 20px;
  margin-right: 64px;
  margin-bottom: 16px;
}
.contenedorvideo__lista__ul {
  list-style: none;
}
.contenedorvideo__lista__ul__li {
  display: flex;
  margin: 8px;
}
.contenedorvideo__lista__ul__li:hover {
  border: 5px #e7e7db solid;
  background-color: #d8c7b9;
}

a:link {
  text-decoration: none;
  color: #55859e;
}

/*Perfil*/
.listasrepro {
  display: flex;
}
.listasrepro__img {
  margin: 8px;
  border: 8px solid #f6f9f9;
}
.listasrepro__img:hover {
  border-radius: 20px;
  border: 8px #d8c7b9 solid;
}

.progresosYlogros {
  display: grid;
  grid-template-areas: "area1 area1" "area2 area3" "area4 area5" "area6 area6";
  margin: 16px;
}
.progresosYlogros__listas {
  grid-area: area1;
}
.progresosYlogros__progresos {
  grid-area: area4;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: 8px;
  background-color: #e7e7db;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progresosYlogros__progresos__grupo {
  margin-top: 8px;
  margin-bottom: 24px;
}
.progresosYlogros__logros {
  grid-area: area5;
  display: flex;
  justify-content: space-between;
  background-color: #e7e7db;
  margin-left: 8px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.progresosYlogros__logros__columnas {
  border-style: hidden;
}
.progresosYlogros__logros__columnas__logro {
  margin: 8px;
}
.progresosYlogros__tituloPrg {
  grid-area: area2;
  text-align: center;
  background-color: #e7e7db;
  padding-top: 24px;
  margin-top: 32px;
  margin-right: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.progresosYlogros__titulolist {
  grid-area: area3;
  text-align: center;
  background-color: #e7e7db;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 24px;
  margin-top: 32px;
  margin-left: 8px;
}

.logrocompletado {
  border-radius: 20%;
}

footer {
  grid-area: area6;
}

/*Contacto*/
.fondocontacto {
  background-color: #d8c7b9;
  border-radius: 20px;
  margin-bottom: 16px;
}

.volver {
  display: inline-block;
  margin-left: 32px;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #d8c7b9;
  background-color: #e7e7db;
  text-decoration: none;
}

/*Index*/
@media (max-width: 768px) {
  .portada {
    display: block;
  }
  .portada__imagen__img {
    max-width: 100%;
    height: auto;
  }
}
/*Perfil*/
@media (max-width: 768px) {
  .listasrepro {
    display: grid;
    grid-template-areas: "area2 area3" "area4 area5";
  }
  .listasrepro__img {
    margin: 2px;
    border: 2px solid #f6f9f9;
  }
  .listasrepro__img:hover {
    border-radius: 20px;
    border: 4px #d8c7b9 solid;
  }
  .progresosYlogros {
    display: grid;
    grid-template-areas: "area1" "area2" "area4" "area3" "area5" "area6";
    margin: 8px;
  }
  .progresosYlogros__listas {
    grid-area: area1;
  }
  .progresosYlogros__progresos {
    grid-area: area4;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 8px;
    background-color: #e7e7db;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .progresosYlogros__grupo {
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .progresosYlogros__logros {
    grid-area: area5;
    display: flex;
    justify-content: space-between;
    background-color: #e7e7db;
    margin-left: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .progresosYlogros__columnas {
    border-style: hidden;
  }
  .progresosYlogros__columnas__logro {
    margin: 8px;
  }
  .progresosYlogros__tituloPrg {
    grid-area: area2;
    text-align: center;
    background-color: #e7e7db;
    padding-top: 24px;
    margin-top: 32px;
    margin-right: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .progresosYlogros__titulolist {
    grid-area: area3;
    text-align: center;
    background-color: #e7e7db;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 24px;
    margin-top: 32px;
    margin-left: 8px;
  }
}
@media (max-width: 768px) {
  .concert {
    border-radius: 20px;
    margin: 16px;
    background-color: #e7e7db;
  }
  .concert__titulo {
    margin: 16px;
  }
  .concert__portada {
    margin-left: 8px;
    margin-right: 8px;
    border-color: none;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .concert__portada__img {
    width: 75px;
    height: 75px;
  }
  .concert__portada:hover {
    transform: scale(1.2, 1.2);
  }
}
@media (max-width: 576px) {
  h6 {
    font-size: 6px;
  }
}
@media (max-width: 768px) {
  /*conciertouno*/
  .contenedorvideo {
    display: flex;
    flex-direction: column;
    margin-top: 16;
    margin-left: 8px;
    background-color: #f6f9f9;
  }
  .contenedorvideo__rep__divvideo {
    padding: 24px;
  }
  .contenedorvideo__rep__divvideo iframe {
    width: 320;
    height: auto;
  }
  .contenedorvideo__lista {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    float: left;
    overflow: auto;
    margin-bottom: 16px;
  }
  .contenedorvideo__lista__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  .contenedorvideo__lista__ul__li {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
  a:link {
    text-decoration: none;
    color: #55859e;
  }
}
/*
@media(max-width: 325px){
    .contenedorvideo__rep__divvideo{
        width: 325px;
        height: auto;
    }

}
@media(max-width: 375px){
    .contenedorvideo__rep__divvideo{
        width: 375px;
        height: auto;
    }

}
@media(max-width: 425px){
    .contenedorvideo__rep__divvideo{
        width:425px ;
        height: auto;
    }

}
*//*# sourceMappingURL=main.css.map */