@charset "UTF-8";
/*Body*/
.colorfondo {
  background-color: #e3c0ff;
}

main {
  background-color: #e3c0ff;
}

/*Index*/
.portada {
  display: flex;
  background-color: #e3c0ff;
}
.portada__imagen {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 0px;
}
.portada__imagen__img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.portada__texto {
  border-radius: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: -20px;
  padding: 16px;
  background-color: #9687ed;
}
.portada__texto__registro {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*Footer*/
.footer {
  background-color: rgb(204, 204, 204);
}
.footer__paragraph {
  padding: 24px;
  font-size: 18px;
}
.footer__redes {
  display: flex;
  justify-content: center;
}
.footer__redeslogo {
  padding: 16px;
}
.footer__fallow {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

i {
  font-size: 32px;
  margin: 5px;
  color: black;
}

.concert {
  border-radius: 20px;
  margin: 16px;
  background-color: #9687ed;
}
.concert__titulo {
  margin: 16px;
}
.concert__portada {
  margin: 1.5%;
  border-color: none;
}
.concert__portada:hover {
  transform: scale(1.2, 1.2);
}

/* Inputs*/
.colorinput {
  background-color: red;
}

/*Recursos adicionales tabla*/
.Tablarecursos {
  display: flex;
  justify-content: center;
  padding: 16px;
}
.Tablarecursos__th {
  border: 1px solid black;
  text-align: center;
}
.Tablarecursos__filas {
  border: 1px solid black;
  text-align: center;
}
.Tablarecursos__filas:hover {
  background-color: #9687ed;
}

/*conciertouno*/
.contenedorvideo {
  display: flex;
  justify-content: end;
  margin: 8%;
  background-color: #e3c0ff;
}
.contenedorvideo__rep {
  flex: 100%;
}
.contenedorvideo__rep__divvideo {
  display: flex;
  justify-content: center;
}
.contenedorvideo__lista {
  width: 50%;
  height: 350px;
  float: right;
  overflow: auto;
}
.contenedorvideo__lista__ul {
  list-style: none;
}
.contenedorvideo__lista__ul__li {
  display: flex;
  margin: 8px;
}
.contenedorvideo__lista__ul__li:hover {
  border: 5px #9687ed solid;
  background-color: #9687ed;
}

.logroscompletados {
  background-color: #575599;
  padding: 5px;
  border-radius: 20%;
}

a:link {
  text-decoration: none;
  color: #000014;
}

/*Perfil*/
.listasrepro {
  display: flex;
}
.listasrepro__img {
  margin: 16px;
}
.listasrepro__img:hover {
  border: 5px red solid; /* acá va la animación */
}

.progresosYlogros {
  display: grid;
  grid-template-areas: "area1 area1" "area2 area3" "area4 area5" "area6 area6";
}
.progresosYlogros__listas {
  grid-area: area1;
}
.progresosYlogros__progresos {
  grid-area: area4;
}
.progresosYlogros__logros {
  grid-area: area5;
  display: flex;
  justify-content: space-evenly;
}
.progresosYlogros__tituloPrg {
  grid-area: area2;
}
.progresosYlogros__titulolist {
  grid-area: area3;
}

footer {
  grid-area: area6;
}/*# sourceMappingURL=main.css.map */