/*Index*/
@media (max-width: 768px){
    .portada{
        display: block;
    }
    .portada__imagen__img{
        max-width: 100%;
        height: auto;
    }
}

/*Perfil*/

@media (max-width: 768px){
    .listasrepro{
        display: grid;
        grid-template-areas:
        "area2 area3"
        "area4 area5";
        &__img{
            margin: 2px;
            border: 2px solid $color5;
            &:hover{
                border-radius: 20px;
                border: 4px $color3 solid;  
            }
    }
    }
    .progresosYlogros{
    display: grid;
    grid-template-areas: 
    "area1"
    "area2"
    "area4"
    "area3"
    "area5"
    "area6";
    margin: 8px;
    &__listas{
        grid-area: area1;
    }
    &__progresos{
        grid-area: area4;
        padding-bottom: 16px;
        padding-right: 16px;
        padding-left: 16px;
        margin-right: 8px;
        background-color: $color4;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        }
        &__grupo{
            margin-top: 8px;
            margin-bottom: 24px;
            
        }
    &__logros{
        grid-area: area5;
        display: flex;
        justify-content: space-between;
        background-color: $color4;
        margin-left: 8px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        }
        &__columnas{
            border-style: hidden;
            &__logro{
                margin: 8px;               
            }

        }
    &__tituloPrg{
        grid-area:area2;
        text-align: center;
        background-color: $color4;
        padding-top: 24px;
        margin-top: 32px;
        margin-right: 8px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;    
    }
    &__titulolist{
        grid-area: area3;
        text-align: center;
        background-color: $color4;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 24px;
        margin-top: 32px;
        margin-left: 8px;
    }
}
}

@media(max-width: 768px){
    .concert{
        border-radius: 20px;
        margin: 16px;
        background-color: $color4;
        &__titulo{
            margin: 16px;
        }
        &__portada{
            margin-left: 8px;
            margin-right: 8px;
            border-color: none;
            margin-top: 8px;
            margin-bottom: 8px;
            &__img{
                width: 75px;
                height: 75px;
    
            }
        }
        &__portada:hover{
            transform: scale(1.2,1.2);
        }
    }


}
@media(max-width: 576px){
    h6{
        font-size: 6px;
    }
}
@media(max-width: 768px){
    /*conciertouno*/
.contenedorvideo{
    display: flex;
    flex-direction: column;
    margin-top: 16;
    margin-left: 8px;
    background-color: $color5;
    &__rep{
        &__divvideo{
            padding: 24px; 
            iframe{
                width: 320;
                height: auto;
            }  
        }  
    }
    &__lista{
        display: flex;
        flex-direction: row;
    width: 100vw;
    height: auto;
    float: left;
    overflow: auto;
    margin-bottom: 16px;
    &__ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        &__li{
            display: flex;
            flex-direction: column;
            margin: 8px;   
        }
    }

    }
}
a:link{
    text-decoration: none;
    color: $color1;
}
}
/*
@media(max-width: 325px){
    .contenedorvideo__rep__divvideo{
        width: 325px;
        height: auto;
    }

}
@media(max-width: 375px){
    .contenedorvideo__rep__divvideo{
        width: 375px;
        height: auto;
    }

}
@media(max-width: 425px){
    .contenedorvideo__rep__divvideo{
        width:425px ;
        height: auto;
    }

}
*/
