/*Body*/
h1,h2,h3,h4,h5,h6,i,p{
    font-family: 'Roboto Condensed', sans-serif;
}
.colorfondo{
    background-color: $color5;
}
main{
    background-color: $color5;
}
/*Index*/
.portada{
    display: flex;
    background-color: $color5;
    margin-top: 16px;
    margin-bottom: 16px;

    &__imagen{
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 0px;
        &__img{
            width:500px; 
            height:500px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    &__texto{
        border-radius: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
        margin-left: -20px;
        padding: 16px;
        background-color:$color4;
        &__registro{
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

    }
}

/*Footer*/
.footer{
    background-color: rgb(204, 204, 204);
    &__paragraph{
        padding: 24px;
        font-size: 18px;
    }
    &__redes{
        display:flex;
        justify-content: center;
    }
    &__redeslogo{
        padding: 16px;
    }
    &__fallow{
        display: flex;
        justify-content: center;
        font-size: 32px;


    }
}
i{
    font-size: 32px;
    margin: 5px;
    color: black;
}
.tituloConciertomaster{
    margin-top: 24px;
    margin-bottom: 16px;

}
.concert{
    border-radius: 20px;
    margin: 32px;
    background-color: $color4;
    &__titulo{
        margin: 16px;
    }
    &__portada{
        margin: 1.5%;
        border-color: none;
        margin-top: 32px;
        margin-bottom: 32px ;
        &__img{
        width: 200px;
        height: 200px;
        }
    }
    &__portada:hover{
        transform: scale(1.2,1.2);
    }
}

/*Recursos adicionales tabla*/
.tituloRecursos{
    margin-left: 16px;
    margin-top: 16px;

}

.Tablarecursos{
    display: flex;
    justify-content: center;
    padding: 16px;
    &__th{
        border: 1px solid black;
        text-align: center;
    }
    &__filas{
        border: 1px solid black;
        text-align: center;
    &:hover{
        background-color: $color3;
    }    
    }
}
/*conciertouno*/
.tituloconcierto{
    text-align: center;
    margin-top:24px;

}
.contenedorvideo{
    display: flex;
    margin-top: 16;
    margin-left: 16px;
    background-color: $color5;
    &__rep{
        flex: 75%;
        &__divvideo{
            border-top: 1px $color1 solid;
            padding: 24px;   
        }  
    }
    &__lista{
    width: 50%;
    height: 350px;
    float: left;
    overflow: auto;
    border-left: 1px $color1 solid;
    border-radius: 20px;
    margin-right: 64px;
    margin-bottom: 16px;
    &__ul{
        list-style: none;
        &__li{
            display: flex;
            margin: 8px;
            &:hover{
                border: 5px $color4 solid;
                background-color: $color3;
            }    
        }
    }

    }
}
a:link{
    text-decoration: none;
    color: $color1;
}
/*Perfil*/
.listasrepro{
    display: flex;
    &__img{
        margin: 8px;
        border: 8px solid $color5;
        &:hover{
            border-radius: 20px;
            border: 8px $color3 solid;  
        }
}
}
.progresosYlogros{
    display: grid;
    grid-template-areas: 
    "area1 area1"
    "area2 area3"
    "area4 area5"
    "area6 area6";
    margin: 16px;
    &__listas{
        grid-area: area1;
    }
        
    &__progresos{
        grid-area: area4;
        padding-bottom: 32px;
        padding-right: 32px;
        padding-left: 32px;
        margin-right: 8px;
        background-color: $color4;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
       
        &__grupo{
            margin-top: 8px;
            margin-bottom: 24px;
            
        }
    }
    &__logros{
        grid-area: area5;
        display: flex;
        justify-content: space-between;
        background-color: $color4;
        margin-left: 8px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    
        &__columnas{
            border-style: hidden;
            &__logro{
                margin: 8px;
                
            }

        }
    }
    &__tituloPrg{
        grid-area:area2;
        text-align: center;
        background-color: $color4;
        padding-top: 24px;
        margin-top: 32px;
        margin-right: 8px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
    &__titulolist{
        grid-area: area3;
        text-align: center;
        background-color: $color4;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 24px;
        margin-top: 32px;
        margin-left: 8px;
        

    }
}
.logrocompletado{
    border-radius: 20%;
}
footer{
    grid-area: area6;
}
/*Contacto*/
.fondocontacto{
    background-color: $color3;
    border-radius: 20px;
    margin-bottom: 16px;
}
.volver{
    display: inline-block;
    margin-left: 32px;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid $color3;
    background-color: $color4;
    text-decoration: none;

}