/*Body*/
body{
    background-color: rgb(235, 235, 20);
}
/*Footer*/
.footer{
    background-color: rgb(204, 204, 204);
    &__paragraph{
        padding: 24px;
        font-size: 18px;
    }
    &__redes{
        display:flex;
        justify-content: center;
    }
    &__redeslogo{
        padding: 16px;
    }
    &__fallow{
        display: flex;
        justify-content: center;
        font-size: 32px;


    }
}
i{
    font-size: 32px;
    margin: 5px;
    color: black;
}
.pNavbar{
    color: #34ec06;
}
.collapseBackgroundColor.navbar-toggler{
    border-color: #c53131;

}
